body{
    background-color: #035E7B;
    font-family: 'Raleway', sans-serif;
    margin-left: 200px;
    margin-right: 200px;

}

header{
    color: whitesmoke;
    text-align: center;

}

section{
margin-top: 70px;
background: white;
padding: 30px;
border-radius: 20px;
text-align: center;
font-size: 16px;
box-shadow: 2px 5px rgba(0, 0, 0, 0.596);

}

footer{
    margin-top: 100px;
    color: whitesmoke;
    text-align: center;
}

img {
    border-radius: 150px;
}

div{
    font-size: 18px;  
}

@media (max-width: 700px){
    body{
        padding: 0;
        margin: auto;
        width: 320px;
        height: 640px;
}
section{
    margin-top: 70px;
    background: white;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    box-shadow: 2px 5px rgba(0, 0, 0, 0.596);
    
    }
}